.user-avatar {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.mt-2 {
  margin-top: 20px;
}
.header {
  width: 1920px;
  height: 292px;
}
.menu {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(134, 135, 135, 0.55);
  width: 847px;
  height: 60px;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../../fonts/GothamPro.eot?') format('eot'), url('../../fonts/GothamPro.otf') format('opentype'), url('../../fonts/GothamPro.woff') format('woff'), url('../../fonts/GothamPro.ttf') format('truetype'), url('../../fonts/GothamPro.svg#GothamPro') format('svg');
}
.user-profile {
  color: #ffffff;
  font-family: 'GothamPro';
}
.user-profile .text-light-grey {
  color: #aaa;
}
.user-profile .text-success {
  color: #09b752;
}
.user-profile .text-danger {
  color: #ff7680;
}
.user-profile label {
  font-weight: 700;
  color: black;
}
.user-profile .section-title {
  display: block;
  border-bottom: 1px solid;
  font-size: 28px;
  padding: 24px 0 12px;
  margin-bottom: 16px;
  font-family: GothamPro;
  color: #344c5e;
  font-size: 26px;
  /* Approximation due to font substitution */
  font-weight: 700;
}
.user-profile .krajee-default.file-preview-frame .kv-file-content {
  width: initial !important;
  height: initial !important;
}
.user-profile .krajee-default.file-preview-frame .file-caption-info,
.user-profile .krajee-default.file-preview-frame .file-drag-handle,
.user-profile .krajee-default.file-preview-frame .kv-file-zoom {
  display: none;
}
.user-profile .media {
  margin-bottom: 24px;
}
.user-profile .media-object {
  display: inline-block;
  background: #a49775;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  margin-right: 16px;
}
.user-profile .panel-deliverables .panel {
  background: transparent;
  border: 0;
  box-shadow: none;
}
.user-profile .panel-deliverables .panel-default > .panel-heading {
  background: transparent;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}
.user-profile .panel-deliverables .panel-title > a {
  font-family: GothamPro;
  color: #344c5e !important;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 700;
  text-align: left;
}
.user-profile .panel-deliverables h4 {
  font-family: GothamPro;
  color: #344c5e!important;
  font-size: 13px;
  /* Approximation due to font substitution */
  font-weight: 500;
  text-align: left;
}
.user-profile .panel-deliverables .panel-body > .row {
  margin-bottom: 16px;
}
.user-profile .panel-deliverables .panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  float: right;
  /* adjust as needed */
  color: grey;
  /* adjust as needed */
  content: "\e113";
}
.user-profile .panel-deliverables .panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */
}
.user-profile .banner {
  background-image: url(../../../../images/banner.png?v=18022018);
  background-repeat: no-repeat;
  background-position: center;
  height: 292px;
  width: 100%;
}
.user-profile .container {
  position: relative;
  top: -75px;
}
.user-profile .col-lg-9 .container {
  top: 5px;
}
.user-profile .col-lg-9 .mainnav {
  top: 75px;
  height: 58px;
  border-radius: 5px;
  margin-bottom: 85px;
  background: transparent;
}
.user-profile .user-info {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(134, 135, 135, 0.55);
  padding: 8px;
}
.user-profile .user-info .p8 {
  padding: 7px;
}
.user-profile .user-info label {
  font-family: GothamPro !important;
}
.user-profile .user-info .user-title {
  display: flex;
}
.user-profile .user-info .user-logo {
  width: 88px;
  height: 60px;
  background-image: url(../../../../images/logo.png?v=18022018);
  background-repeat: no-repeat;
  margin: 0px !important;
  display: inline-block;
  clear: left;
  float: left;
}
.user-profile .user-info .name-section {
  margin-left: 5px;
  padding-left: 3px;
}
.user-profile .user-info .name {
  color: #344c5e;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  margin-top: 5px;
}
.user-profile .user-info .star-rating {
  font-family: FontAwesome5FreeSolid;
  color: #b8b8b8;
  font-size: 11px;
  /* Approximation due to font substitution */
  font-weight: 400;
  text-align: left;
}
.user-profile .user-info .star-rating .fa-star {
  color: #ff7680;
}
.user-profile .user-info .rating-value {
  font-family: GothamPro;
  color: #ff7680;
  font-size: 13px;
  /* Approximation due to font substitution */
  font-weight: 500;
  text-align: left;
}
.user-profile .user-info .description {
  font-family: GothamPro;
  color: #6f6f6f;
  font-size: 13px;
  /* Approximation due to font substitution */
  font-weight: 400;
  text-align: left;
}
.user-profile .user-info .link {
  font-family: GothamPro;
  color: #178fd6;
  font-size: 13px;
  /* Approximation due to font substitution */
  font-weight: 400;
  text-align: left;
  margin-top: 15px;
}
.user-profile .user-info .user-action {
  display: inline-block;
  color: #ff7680;
  font-size: 13px;
  /* Approximation due to font substitution */
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
.user-profile .user-info .user-action button {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff7680;
  background-color: #ffffff;
  width: 147px;
  height: 36px;
  clear: left;
}
.user-profile .user-info .user-action button:hover {
  background-color: #ff7680;
  color: #ffffff;
}
.user-profile .user-info .user-action .share {
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  padding: 5px 0px 0px;
}
.user-profile .user-info .user-action .share > a {
  color: #9a9a9a !important;
  font-size: 14pt !important;
  /* Approximation due to font substitution */
  font-weight: 500;
  margin-left: 10px;
}
.user-profile .user-info .user-action .btn-simple {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
  text-decoration: underline !important;
  padding: 0 !important;
  margin: 0 !important;
}
.user-profile .user-info .user-action .btn-simple > span {
  /* avoid button movement on click IE */
  position: relative;
}
.user-profile .user-info .user-action #btn-share {
  position: relative;
  background: transparent;
}
.user-profile .user-location {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(134, 135, 135, 0.55);
  width: 100%;
  height: auto;
  margin-top: 10%;
  overflow: auto;
  position: relative;
}
.user-profile .user-location .map {
  width: 100%;
  height: 182px !important;
}
.user-profile .user-location .navigator {
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 26px 0px rgba(134, 135, 135, 0.75);
  width: 36px;
  height: 36px;
  position: relative;
  float: right;
  margin-top: -6%;
  right: 5%;
  background-image: url(../../../../images/navigator.png?v=18022018);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10011;
}
.user-profile .user-location .address {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(134, 135, 135, 0.55);
  word-wrap: break-word;
  width: 260px;
}
.user-profile .user-location .panel-group,
.user-profile .user-location .panel-group .panel {
  border: none !important;
  margin-bottom: 0px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}
.user-profile .user-location .panel-body {
  border: none !important;
}
.user-profile .user-location .panel-title {
  font-family: GothamPro !important;
  font-size: 10px;
  /* Approximation due to font substitution */
  line-height: 26px;
  /* Approximation due to font substitution */
  background-color: transparent;
  border: none !important;
  color: #344c5e;
  font-weight: 700;
  text-align: left;
}
.user-profile .user-location .panel-heading .accordion-toggle:before {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  float: left !important;
  /* adjust as needed */
  color: grey;
  /* adjust as needed */
  content: "\e113";
}
.user-profile .user-location .panel-heading .accordion-toggle {
  color: #ff7680 !important;
}
.user-profile .user-location .panel-heading .accordion-toggle.collapsed {
  color: grey !important;
  /* adjust as needed */
}
.user-profile .user-location .panel-heading .accordion-toggle.collapsed:before {
  /* symbol for "collapsed" panels */
  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */
}
.user-profile .user-location #office-collapse-one > label {
  font-family: GothamPro;
  color: #000000;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 400;
  text-align: left;
}
.user-profile .user-location .panel-heading .panel-title > a {
  text-decoration: none;
  font-family: GothamPro !important;
  color: #ff7680 !important;
  font-size: 10px;
  /* Approximation due to font substitution */
  font-weight: 500;
  line-height: 26px;
  /* Approximation due to font substitution */
  text-align: left;
  background-color: transparent;
  border: none !important;
}
.user-profile .user-location .panel-body {
  padding: 0px;
}
.user-profile .user-location .fa {
  color: #bababa;
  font-size: 12px;
  /* Approximation due to font substitution */
  font-weight: 400;
  text-align: center;
}
.user-profile .user-location .col-xs-9 {
  padding-left: 26px;
  padding-bottom: 15px;
  color: #9a9a9a;
}
.user-profile .user-location .phone {
  position: relative;
}
.user-profile .user-location .fax {
  position: relative;
}
.user-profile .user-location .website {
  position: relative;
}
.user-profile .tags {
  position: relative;
  clear: both;
  overflow: auto;
  min-height: 150px;
  padding: 10px 0px 10px 0px;
}
.user-profile .tags .tag {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #8cc6ec;
  box-sizing: border-box;
  background-color: #dbe8f3;
  padding: 5px 10px 5px 10px;
  font-family: GothamPro;
  color: #178fd6;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 21px;
  /* Approximation due to font substitution */
  text-align: center;
  float: left;
  margin-right: 2%;
  margin-top: 2%;
}
.user-profile .user-description {
  /*font-family: Montserrat;*/
  color: #6f6f6f;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 22px;
  /* Approximation due to font substitution */
  text-align: left;
}
.user-profile .user-description .panel-heading {
  font-family: GothamPro;
  color: #344c5e;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 700;
  text-align: left;
}
.user-profile .user-description .demo {
  width: 420px;
  height: 215px;
  margin: 0 auto;
}
.user-profile .user-description .panel {
  margin-bottom: 0px !important;
}
.user-profile .user-description .panel a.active {
  color: #ff7680;
}
.user-profile .user-description .panel a {
  color: gray;
  cursor: pointer;
  text-decoration: none;
}
.user-profile .user-description .service-pic {
  margin: 0 auto;
}
.user-profile .user-description .service-pic > ul > li {
  width: 33%;
  height: 45%;
}
.user-profile .user-description .service-pic > ul > li > a > img {
  width: 100%;
  height: 45%;
}
.user-profile .user-description .thumbnail-view {
  right: 0;
  float: right;
  text-align: center;
  vertical-align: middle;
}
.user-profile .user-description .thumbnail-view > a {
  font-size: 14pt;
  margin-right: 10px;
}
.user-profile .user-description .promo-pic {
  height: 239px;
  background-image: url(../../../images/promo2.png);
  background-repeat: no-repeat;
}
.user-profile .user-description .promo-pic-2 {
  height: 239px;
  background-image: url(../../../images/promo1.png);
  background-repeat: no-repeat;
}
.user-profile .user-description .promo-content {
  height: 239px;
  margin: 0 auto;
  padding: 25px 25px 25px 25px;
}
.user-profile .user-description .team-pic > ul {
  margin: 0 auto !important;
}
.user-profile .user-description .team-pic > ul > li {
  vertical-align: top;
  text-align: center;
  width: 14%;
  height: 4%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.user-profile h2 {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #ccc !important;
  line-height: 0.1em !important;
  margin: 10px 0 20px !important;
}
.user-profile .mainnav-menu > li > a {
  padding: 16px 14px !important;
  color: #9a9a9a;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 500;
  background: transparent;
}
.user-profile .mainnav-menu > li > a .fa {
  font-size: 18px;
  margin-right: 4px;
}
.user-profile .img-thumbnail {
  background-color: transparent !important;
  border: none !important;
}
.user-profile .reference > ul > li {
  text-align: center;
  margin-left: 15px;
  margin-right: 62px;
  margin-bottom: 16px;
}
